{% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form accept-charset="UTF-8" action="" id="form">
        <div id="user-info">
          <div class="form-field">
            <input
              required
              type="text"
              class="form-control"
              name="name"
              placeholder="Name..."
            />
          </div>
          <div class="form-field">
            <input
              required
              type="email"
              class="form-control"
              name="email"
              placeholder="Email..."
            />
          </div>
        </div>
        <div id="shipping-info">
          <hr />
          <p class="shpping-info">Shipping Information</p>
          <hr />
          <div class="form-field">
            <input
              type="text"
              class="form-control"
              name="address"
              placeholder="Address..."
            />
          </div>
          <div class="form-field">
            <input
              type="text"
              class="form-control"
              name="city"
              placeholder="City..."
            />
          </div>
          <div class="form-field">
            <input
              type="text"
              class="form-control"
              name="state"
              placeholder="State..."
            />
          </div>
          <div class="form-field">
            <input
              type="text"
              class="form-control"
              name="zipcode"
              placeholder="Zip code..."
            />
          </div>
          <div class="form-field">
            <input
              readonly
              type="text"
              class="form-control"
              name="country"
              value="Sweden"
              placeholder="Sweden"
            />
          </div>
        </div>
        <hr />
        <input
          type="submit"
          id="form-button"
          class="btn btn-success btn-block"
          value="Continue"
        />
      </form>
    </div>

    <br />
    <div class="box-element hidden" id="payment-info">
      <div class="row justify-content-around align-items-center">
        <div class="col-4">
          Paypal Options
        </div>
        <div class="col-4">
          <button class="btn btn-primary btn-sm" id="make-payment">
            Make Payment
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box-element">
      <a href="{% url 'cart' %}" class="btn btn-outline-dark"
        >&#x2190; Back to Cart</a
      >
      <hr />
      <h3>Order Summary</h3>
      <hr />
      {% for item in items %}
      <div class="summary-container">
        <div>
          <img src="{{item.product.imageURL}}" alt="" class="row-image" />
        </div>
        <div><p>{{item.product.name}}</p></div>
        <div><p>{{item.product.price|floatformat:2}} kr/st</p></div>
        <div><p>{{item.quantity}}</p></div>
      </div>
      {% endfor %}
      <h5>Items: {{order_of_this_transaction.get_cart_items_quantity}} st</h5>
      <h5>
        Total: {{order_of_this_transaction.get_cart_total|floatformat:2}} kr
      </h5>
      <h4 id="shipping-fee-included-total">
        Total including shipping fee:
        {{order_of_this_transaction.get_cart_total_including_shipping|floatformat:2}}
        kr
      </h4>
    </div>
  </div>
</div>

<script>
  var shipping = "{{order_of_this_transaction.shipping}}";
  var totalAmount =
    "{{order_of_this_transaction.get_cart_total|floatformat:2}}";

  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
    document.getElementById("shipping-fee-included-total").innerHTML = "";
  } else {
    totalAmount =
      "{{order_of_this_transaction.get_cart_total_including_shipping|floatformat:2}}";
  }

  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = "";
  }

  if (shipping == "False" && user != "AnonymousUser") {
    document.getElementById("form-wrapper").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  }

  var form = document.getElementById("form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("form submitted...");
    document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  });

  document
    .getElementById("make-payment")
    .addEventListener("click", function () {
      var userFormData = {
        name: null,
        email: null,
        totalAmount: totalAmount,
      };

      var shippingInfo = {
        address: null,
        city: null,
        state: null,
        zipcode: null,
      };

      if (shipping != "False") {
        shippingInfo.address = form.address.value;
        shippingInfo.city = form.city.value;
        shippingInfo.state = form.state.value;
        shippingInfo.zipcode = form.zipcode.value;
      }

      if (user == "AnonymousUser") {
        userFormData.name = form.name.value;
        userFormData.email = form.email.value;
      }

      var url = "/process_order/";

      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Success:", data);
          alert("Transaction completed");
          window.location.href = "{% url 'store' %}";
        });
    });
</script>

{% endblock content %}
